@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../styles/markdown.css';
@import '../../styles/cookies-consent.css';

html {
  scroll-behavior: smooth;
}
body {
  @apply font-consola;
  @apply bg-primary text-black;
}

.sub-title {
  @apply mb-2 text-balance text-center font-bold md:mb-10 md:text-3xl;
}

.Typewriter {
  width: 200px;
  word-break: unset;
  white-space: nowrap;
}

.cc-nb-main-container {
  background-color: #e9eae4;
  border-top: 4px solid #222223;
  border-left: 4px solid #222223;
}
.cc-nb-title,
.cc-nb-text {
  color: #222223 !important;
}

.cc-nb-okagree,
.cc-nb-reject {
  background: #222223 !important;
  color: white !important;
}
